body{
  margin: 0;
  padding: 0;
  font-family: 'ginger';
}

i{
  font-family: untitled-font-2;
  font-size: 3em;
}
@font-face {
  font-family: 'ginger';
  src: url("fonts/f37ginger-bold-webfont.eot");
  src: url("fonts/f37ginger-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/f37ginger-bold-webfont.woff") format("woff"), url("fonts/f37ginger-bold-webfont.ttf") format("truetype"), url("fonts/f37ginger-bold-webfont.svg#f37_gingerbold") format("svg");
  font-weight: normal;
  font-style: normal;
}


section {
  float: left;
  width: 100%;
}

section .item {
  width: 22%;
  margin:  25px 1%;
  float: left;
  height: 125px;
}

section .item:hover {
  cursor: hover;
}

section .item i{
  margin-left: 12px;
}

section .item p{
  margin: 0;
  font-size: .8em;
  text-align: center;
}

section .item.active i{
  color: #fff;
}

section.map {
  height: 320px;
}

#map{
  height: 100%;
  margin: 0;
  padding: 0;
}

section.inventory {
  background-color: #3FB34F;
  color: #fff;
}

section.inventory .item {
  background-color: #139148;
  color: #fff;
}

section.chest {
  height: auto;
  min-height: 400px;
  background-color: #1073B9;
}

section.chest .item {
  background-color: #1C53A5;
  color: #1073B9;
}

section.chest .item.active {
  color: #fff;
}

section .item.title{
  background-color: transparent;
}

section.inventory .item.title i{
  color: #139148;
}

section.chest .item.title i{
  color: #1C53A5;
}
